:root {
  --color-default: #091e42;
  --color-yellow: #ffd80a;
  --color-yellow-hover: #e2bf07;
  --color-white: #fff;
  --color-gray-100: #dfdfdf;
  --color-gray-200: #ccc8c8;
  --color-gray-300: #8c8c8c;

  --color-green: #64dc00;
}
