.btn {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    color: $default-color;
    font-weight: 400;
    line-height: 1;

    &-xs {
        padding: 4px 8px;
        font-size: 10px;
    }

    &-m {
        padding: 8px 12px;
        font-size: 12px;
    }

    &-primary {
        transition: 0.2s background-color;
        background-color: $yellow;

        &:hover {
            background-color: $yellow-hover;
        }
    }

    &.disabled {
        opacity: 0.5;
        cursor: default;
    }
}
