.sun {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 80px 80px rgba(255, 255, 255, 0.3), 0 0 80px 50px rgba(255, 50, 0, 0.2);
    background-color: #ffffae;

    &-wrapper {
        position: absolute;
        display: block;
        left: 25%;
        bottom: -10%;
        transition: 0.5s transform;
    }
}
