.test {
    margin-bottom: 16px;
    font-size: 10px;
}

.toggler {
    display: flex;
    justify-content: center;

    align-items: center;
    transform: rotate(-90deg);
    transition: transform 0.2s;
    cursor: pointer;
    margin-left: auto;
    width: 12px;
    height: 12px;

    img {
        width: 100%;

        height: 100%;
    }

    &.toggle {
        transform: rotate(90deg);
    }
}
