.test {
    font-size: 10px;
    margin-bottom: 16px;
}

.toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    width: 12px;
    transform: rotate(-90deg);
    margin-left: auto;
    transition: transform 0.2s;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    &.toggle {
        transform: rotate(90deg);
    }
}
