%bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg {
    @extend %bg;
}

.dayNightBg {
    @extend %bg;
}

.sunriseSunsetBg {
    @extend %bg;
}

.stars {
    width: 100%;
    height: 100%;
}
.starsBg {
    background-color: #000;
}
