.select {
  padding: 24px;
  background-color: #fff;
  border-radius: 4px;
}

.btnSubmit {
  margin-top: 8px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
}

.resultItem {
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: rgba(#CCC8C8, 15%);
  }

  &_info {
    min-height: 40px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_additional {
    display: none;
    padding: 0 16px 16px;
    flex-direction: column;
    gap: 4px;

    &.show {
      display: flex;
    }

    span {
      margin-right: 4px;
      color: #626262;
    }
  }
}

.textWToggle {
  display: flex;
  align-items: center;
  gap: 4px;

  img {
    &:not(.show) {
      transform: rotate(180deg);
    }
  }
}

.selected {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
  background-color: rgba(#CCC8C8, 15%);
}

.emptyResult {
  margin-top: 32px;
}
