@import 'src/scss/utilites/variables';

.select {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 24px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.autoHeight {
    height: 100%;
    padding: 1px;
    overflow: auto;
    margin-top: 24px;
}

.resultItem {
    border-radius: 4px;
    box-shadow: $box-shadow-default;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    background: $white;

    &:hover {
        background-color: #f2f2f2;
    }

    &_info {
        min-height: 40px;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_additional {
        display: none;
        padding: 0 16px 16px;
        flex-direction: column;
        gap: 4px;

        &.show {
            display: flex;
        }

        span {
            margin-right: 4px;
            color: $placeholder;
        }
    }
}

.textWToggle {
    display: flex;
    align-items: center;
    gap: 4px;

    img {
        &:not(.show) {
            transform: rotate(180deg);
        }
    }
}

.selected {
    box-shadow: $box-shadow-selected;
    background-color: rgba($gray, 15%);
}

.emptyResult {
    margin-top: 32px;
}
