.block {
    position: fixed;
    background-color: #fff;
    z-index: 100;
    top: 8px;
    right: 8px;
    padding: 16px;
    border-radius: 4px;
    font-size: 10px;
    opacity: 0.5;
    max-width: 200px;

    p {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}
