.WeatherWrapper {
    top: 24px;
    right: 24px;
    position: absolute;
    background-color: var(--color-white);
    min-height: 200px;
    min-width: 150px;
    max-height: 600px;
    max-width: 550px;
    width: 150px;

    padding: 16px;
    border-radius: 4px;
}
