.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temperature {
    display: flex;
    font-size: 54px;
    line-height: 1;

    &:after {
        display: block;
        position: relative;
        margin-left: 8px;
        content: 'c';
        font-size: 20px;
    }
}

.day {
    display: flex;
}

.condition {
    display: flex;
    justify-content: right;
    font-weight: 400;
    font-size: 24px;
    text-align: right;

    p:not(:last-child)::after {
        margin-right: 4px;
        content: ',';
    }
}

.weather {
    position: relative;
    top: 0;
    transition: 0.2s top;
    padding: 24px;

    &.hide {
        top: -100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .temperature {
            font-size: 54px;

            &:after {
                margin-left: 8px;
            }
        }
    }

    .temperature {
        display: flex;
        line-height: 1;

        &:after {
            display: block;
            position: relative;
            content: 'c';
            font-size: 20px;
        }
    }

    .day {
        display: flex;
    }

    .condition {
        font-weight: 400;
        font-size: 24px;
        text-align: right;
    }

    .additional {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 0.2s;
        margin-top: 8px;

        &.show {
            opacity: 1;
        }

        &-day {
            width: 20%;
        }

        .temperature {
            &:after {
                margin-left: 4px;
                font-size: 12px;
            }
        }

        .description {
            font-size: 12px;
        }
    }
}
