.input {
    display: block;
    position: relative;

    label {
        display: block;
        margin-bottom: 8px;
        font-size: 12px;
    }

    input {
        //background-color: $white;
        outline: none;
        box-shadow: $box-shadow-default;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        width: 100%;
        min-height: 40px;
    }
}
