.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    min-height: 100vh;
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
    gap: 24px 72px;
}

.icon {
    top: 50px;
    left: 50px;
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 10000;
    background-color: #000;
}

.dayBg {
    background: linear-gradient(0deg, rgba(114,165,255,1) 0%, rgba(0,49,255,1) 100%);
}
.visible {
    overflow: visible !important;
}
