$cornerSize: 10px !default;
$sideSize: 4px !default;

.develop {
    %borderWidth {
        background-color: green;
        opacity: 0.2;
    }

    %borderHeight {
        background-color: red;
        opacity: 0.2;
    }

    %corner {
        background-color: purple;
        opacity: 0.2;
    }
}

%borderWidth {
    position: absolute;
    left: 0;
    width: 100%;
    height: $sideSize;
    cursor: n-resize;
    z-index: 1;
}

%borderHeight {
    position: absolute;
    top: 0;
    height: 100%;
    width: $sideSize;

    cursor: e-resize;
    z-index: 1;
}

%corner {
    position: absolute;
    width: $cornerSize;
    height: $cornerSize;
    z-index: 2;
}

.top {
    @extend %borderWidth;
    top: -calc($sideSize / 2);

    &Right {
        @extend %corner;
        cursor: nesw-resize;

        top: -calc($cornerSize / 2.5);
        right: -calc($cornerSize / 2.5);
    }

    &Left {
        @extend %corner;
        cursor: nwse-resize;

        top: -calc($cornerSize / 2.5);
        left: -calc($cornerSize / 2.5);
    }
}

.right {
    @extend %borderHeight;
    right: -calc($sideSize / 2);
}

.bottom {
    @extend %borderWidth;
    bottom: -calc($sideSize / 2);

    &Right {
        @extend %corner;
        cursor: nwse-resize;

        bottom: -calc($cornerSize / 2.5);
        right: -calc($cornerSize / 2.5);
    }

    &Left {
        @extend %corner;
        cursor: nesw-resize;

        bottom: -calc($cornerSize / 2.5);
        left: -calc($cornerSize / 2.5);
    }
}

.left {
    @extend %borderHeight;
    left: -calc($sideSize / 2);
}
